variables:
  THEWORKDIR: /transient-builds
  DEFAULT_NEWSIZE: 16G
  XZ_COMPRESSION_LEVEL: 9
  BASE_IMAGE: 'ubuntu:24.04'
  # True | True:Multi | True:Single
  QEMU_TCG_ACCELERATOR: 'True:Multi'

trigger:
  branches:
    include:
    - manual

jobs:

- job: Push
  pool:
    vmImage: 'ubuntu-24.04'
  timeoutInMinutes: 45
  strategy:
    maxParallel: 10
    matrix:
      'armhf-debian-8':
         QEMU_IMAGE_ID: 'armhf-debian-8'
      'armhf-debian-9':
         QEMU_IMAGE_ID: 'armhf-debian-9'
      'armhf-debian-10':
         QEMU_IMAGE_ID: 'armhf-debian-10'
      'armhf-debian-11':
         QEMU_IMAGE_ID: 'armhf-debian-11'
      'armhf-debian-12':
         QEMU_IMAGE_ID: 'armhf-debian-12'
      'armhf-ubuntu-14.04':
         QEMU_IMAGE_ID: 'armhf-ubuntu-14.04'
      'armhf-ubuntu-16.04':
         QEMU_IMAGE_ID: 'armhf-ubuntu-16.04'
      'armhf-ubuntu-18.04':
         QEMU_IMAGE_ID: 'armhf-ubuntu-18.04'
      'armhf-ubuntu-20.04':
         QEMU_IMAGE_ID: 'armhf-ubuntu-20.04'
      'armhf-ubuntu-22.04':
         QEMU_IMAGE_ID: 'armhf-ubuntu-22.04'
      'armhf-ubuntu-24.04':
         QEMU_IMAGE_ID: 'armhf-ubuntu-24.04'

      'x64-debian-10':
         QEMU_IMAGE_ID: 'x64-debian-10'
      'x64-debian-11':
         QEMU_IMAGE_ID: 'x64-debian-11'
      'x64-debian-12':
         QEMU_IMAGE_ID: 'x64-debian-12'
      'x64-debian-13':
         QEMU_IMAGE_ID: 'x64-debian-13'
      'x64-ubuntu-22.04':
         QEMU_IMAGE_ID: 'x64-ubuntu-22.04'
      'x64-ubuntu-24.04':
         QEMU_IMAGE_ID: 'x64-ubuntu-24.04'

      'arm64-debian-10':
         QEMU_IMAGE_ID: 'arm64-debian-10'
      'arm64-debian-11':
         QEMU_IMAGE_ID: 'arm64-debian-11'
      'arm64-debian-12':
         QEMU_IMAGE_ID: 'arm64-debian-12'
      'arm64-debian-13':
         QEMU_IMAGE_ID: 'arm64-debian-13'
      'arm64-ubuntu-14.04':
         QEMU_IMAGE_ID: 'arm64-ubuntu-14.04'
      'arm64-ubuntu-16.04':
         QEMU_IMAGE_ID: 'arm64-ubuntu-16.04'
      'arm64-ubuntu-18.04':
         QEMU_IMAGE_ID: 'arm64-ubuntu-18.04'
      'arm64-ubuntu-20.04':
         QEMU_IMAGE_ID: 'arm64-ubuntu-20.04'
      'arm64-ubuntu-22.04':
         QEMU_IMAGE_ID: 'arm64-ubuntu-22.04'
      'arm64-ubuntu-24.04':
         QEMU_IMAGE_ID: 'arm64-ubuntu-24.04'

      'armel-debian-8':
         QEMU_IMAGE_ID: 'armel-debian-8'
      'armel-debian-9':
         QEMU_IMAGE_ID: 'armel-debian-9'
      'armel-debian-10':
         QEMU_IMAGE_ID: 'armel-debian-10'
      'armel-debian-11':
         QEMU_IMAGE_ID: 'armel-debian-11'

      'i386-debian-10':
         QEMU_IMAGE_ID: 'i386-debian-10'
      'i386-debian-11':
         QEMU_IMAGE_ID: 'i386-debian-11'
      'i386-debian-12':
         QEMU_IMAGE_ID: 'i386-debian-12'
  steps:
  - script: |
      set -eu; set -o pipefail
      printenv | sort;
    displayName: 'Variables'

  - script: |
      set -eu; set -o pipefail
      script=https://raw.githubusercontent.com/devizer/test-and-build/master/install-build-tools-bundle.sh; (wget -q -nv --no-check-certificate -O - $script 2>/dev/null || curl -ksSL $script) | bash >/dev/null
      Say --Reset-Stopwatch
      echo "CPU: $(Get-CpuName)"
      Say "Docker Login"
      try-and-retry docker login -u devizervlad -p "$DOCKER_PASSWORD"

      try-and-retry docker pull -q $BASE_IMAGE
      pushd Cross-Platform-Pipeline
      bash -e local-build.sh
      popd

      cp -f -v -r Cross-Platform-Pipeline/smoke-test/job/* $SYSTEM_ARTIFACTSDIRECTORY/
    # condition: succeededOrFailed()
    displayName: 'Build & Test'
    env:
       DOCKER_PASSWORD: $(DOCKER_PASSWORD)
      
  - bash: |
      Say "Push devizervlad/crossplatform-pipeline:${QEMU_IMAGE_ID}"
      time try-and-retry docker push devizervlad/crossplatform-pipeline:${QEMU_IMAGE_ID}
    displayName: 'Push'



  - task: PublishBuildArtifacts@1
    condition: succeeded()
    displayName: 'Publish Final'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: 'Succeeded $(Agent.JobName)'

  - task: PublishBuildArtifacts@1
    condition: failed()
    displayName: 'Publish Errors'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: 'Failed $(Agent.JobName)-$(Build.BUILDNUMBER)'


- job: 'Combine'
  # condition: succeededOrFailed()
  pool:
    vmImage: 'windows-latest'
  timeoutInMinutes: 30
  dependsOn:
    - Push

  steps: 

  - task: DownloadPipelineArtifact@2
    # condition: succeededOrFailed()
    displayName: 'Download of all platforms to $(RAW_ARTIFACTS_DIR)'
    inputs:
      path: '$(SYSTEM.ARTIFACTSDIRECTORY)\All'
      patterns: 
        "**"
  - powershell: |
       $reportLines = Get-ChildItem -Path "$($ENV:SYSTEM_ARTIFACTSDIRECTORY)\All" -Filter "Succeeded Push*" -recurse -force | Sort-Object -Property FullName -Descending | % {$_.FullName} | % { 
         $kernel = Get-Content "$($_)\kernel.txt" | Select -First 1
         $image = Get-Content "$($_)\image.txt" | Select -First 1
         "$($image): $($kernel)"
       }
       $reportLines >  "$($ENV:SYSTEM_ARTIFACTSDIRECTORY)\FULL-REPORT.TXT" 

    
  - task: PublishBuildArtifacts@1
    # condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(SYSTEM.ARTIFACTSDIRECTORY)'
      artifactName: 'Push Combined'
