trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'azure-pipelines-test-visual-studio.yml'

jobs:

# 7.84 needs updated build tools
- job: curl
  displayName: 'Setup'
  pool:
    vmImage: 'windows-2025'
  timeoutInMinutes: 360

  steps:
  - powershell: |
      # Start-Process "compact.exe" -ArgumentList "/c", "/s:`"C:\Program Files (x86)\Microsoft Visual Studio`""
      # Start-Process "compact.exe" -ArgumentList "/c", "/s:`"C:\Program Files\Microsoft Visual Studio`""
      iex ((New-Object System.Net.WebClient).DownloadString('https://devizer.github.io/SqlServer-Version-Management/Install-SqlServer-Version-Management.ps1'))
      Say "CPU: $(Get-Cpu-Name -IncludeCoreCount)"
      @("C:\Program Files\Microsoft Visual Studio", "C:\Program Files (x86)\Microsoft Visual Studio") | 
        % { $sz = Get-Folder-Size $_; Write-Host "Folder size for $($_): $("{0:n0}" -f ($sz / 1024)) Kb" }

      $__ = [System.IO.Directory]::CreateDirectory("C:\VS-Next");
      Start-Process "compact.exe" -ArgumentList "/c", "/s:`"C:\VS-Next`""
      setx VS_SETUP_INSTALL_FOLDER C:\VS-Next
      Write-Host "VS_SETUP_INSTALL_FOLDER = 'C:\VS-Next'"
    displayName: 'Compact'

  - powershell: |
      Say "CPU: $(Get-Cpu-Name -IncludeCoreCount)"
      if (Test-Path D:\) { setx VS_SETUP_CACHE_FOLDER D:\VS-Cache; $ENV:VS_SETUP_CACHE_FOLDER = "D:\VS-Cache"; Write-Host "VS_SETUP_CACHE_FOLDER = 'D:\VS-Cache'" }
      Get-WmiObject -class Win32_LogicalDisk | ?{ @(2, 3) -contains $_.DriveType } | 
         ? { $_.FreeSpace -or $_.Size } | 
         % { [pscustomobject] @{"Free (GB)" = [Math]::Round($_.FreeSpace / 1024/1024/1024.0,2); "Size (GB)" = [Math]::Round($_.Size/1024/1024/1024.0, 2); "  Mount"="   $($_.DeviceId)" ; "  Name"="   $($_.VolumeName)" }} |
         ft -AutoSize

    condition: succeededOrFailed()
    retryCountOnTaskFailure: 4
    displayName: 'Install Module'

  - powershell: |
      Test-Setup-VisualStudio "Basic Components" -NoCache
    condition: succeededOrFailed()
    displayName: 'Setup VS'

  - powershell: |
      Demo-Query-VSWhere
      Demo-Find-VisualStudio-MSBuild

      Get-WmiObject -class Win32_LogicalDisk | ?{ @(2, 3) -contains $_.DriveType } | 
         ? { $_.FreeSpace -or $_.Size } | 
         % { [pscustomobject] @{"Free (GB)" = [Math]::Round($_.FreeSpace / 1024/1024/1024.0,2); "Size (GB)" = [Math]::Round($_.Size/1024/1024/1024.0, 2); "  Mount"="   $($_.DeviceId)" ; "  Name"="   $($_.VolumeName)" }} |
         ft -AutoSize

    condition: succeededOrFailed()
    displayName: 'Info VS'

  - task: PublishBuildArtifacts@1
    condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: '$(Agent.JobName)'
