variables:
  CMAKE_VER: 3.23.2 #3.22.3
  IMAGE: 'ubuntu:22.04'

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'azure-pipelines-fetch-mono-fonts.yml'
    - 'build-tools/build-fonts-in-container.sh'
    exclude: 
    - '**'

jobs:

- job: Fonts
  pool:
    vmImage: 'ubuntu-22.04'
  timeoutInMinutes: 100
  strategy:
    maxParallel: 9
    matrix:
      'v25.10 On BTRFS Compressed Cached':
         FS: 'BTRFS-Compressed'
         IMAGE: 'ubuntu:25.10'
      'v24.04 On BTRFS Compressed Cached':
         FS: 'BTRFS-Compressed'
         IMAGE: 'ubuntu:24.04'
      'v22.04 On BTRFS Compressed Cached':
         FS: 'BTRFS-Compressed'
      'v22.04 On EXT2 Cached':
         FS: 'EXT2'
      'v22.04 On BTRFS Plain Cached':
         FS: 'BTRFS'
      'v22.04 On EXT4 Out Of the Box':
         EXT4_OUT_OF_THE_BOX: 'True'
        

  steps:
  - script: |
      set -eu; set -o pipefail
      script=https://raw.githubusercontent.com/devizer/test-and-build/master/install-build-tools-bundle.sh; (wget -q -nv --no-check-certificate -O - $script 2>/dev/null || curl -ksSL $script) | bash >/dev/null
      Say --Reset-Stopwatch
      Say "CPU: $(Get-CpuName)"

      export LOOP_DIRECT_IO=off
      export MOVE_DOCKER_TO_RAID=True
      export FS
      export RESET_FOLDERS_TO_RAID="/var/lib/apt;/transient-builds;/var/cache/apt;$SYSTEM_ARTIFACTSDIRECTORY;/tmp;/var/tmp;"
      export FREE_ROOT_SPACE_MB=2000
      sudo rm -rf /var/lib/docker || true
      if [[ -f /swapfile ]]; then sudo swapoff /swapfile || true; sudo rm -rf /swapfile; fi
      url=https://raw.githubusercontent.com/devizer/glist/master/Raid0-on-Azure-Pipelines-Linux.sh; (wget -q -nv --no-check-certificate -O - $url 2>/dev/null || curl -ksSL $url) | bash
      docker image ls
      Say "lzop: [$(lzop --version | tr '\n' ' ')]"
      Say "lz4: [$(lz4 --version | tr '\n' ' ')]"
    condition: ne(variables['FS'], '')
    displayName: 'Reset Docker to BTRFS Compressed and Cached'

  - script: |
      set -eu; set -o pipefail
      script=https://raw.githubusercontent.com/devizer/test-and-build/master/install-build-tools-bundle.sh; (wget -q -nv --no-check-certificate -O - $script 2>/dev/null || curl -ksSL $script) | bash >/dev/null
      Say --Reset-Stopwatch
      Say "CPU: $(Get-CpuName)"
      Say "SYSTEM_ARTIFACTSDIRECTORY: [$SYSTEM_ARTIFACTSDIRECTORY]"
      docker run -d --name fonts -t -v $(pwd)/build-tools:/scrips "${IMAGE:-ubuntu:22.04}"
      docker exec fonts bash -c "mkdir -p $SYSTEM_ARTIFACTSDIRECTORY"
      docker exec -e SYSTEM_ARTIFACTSDIRECTORY="$SYSTEM_ARTIFACTSDIRECTORY" fonts bash -e /scrips/build-fonts-in-container.sh
      docker cp fonts:/$SYSTEM_ARTIFACTSDIRECTORY/. $SYSTEM_ARTIFACTSDIRECTORY
    displayName: 'Fetch'

  - task: PublishBuildArtifacts@1
    condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: '$(Agent.JobName)'

  - bash: Show-System-Stat
    condition: eq(variables['Agent.OS'], 'Linux')
    displayName: 'Linux System Statistic'

- job: 'Combine'
  condition: succeededOrFailed()
  pool:
    vmImage: 'ubuntu-latest'
  timeoutInMinutes: 30
  dependsOn:
    - Fonts

  steps: 

  - task: DownloadPipelineArtifact@2
    # condition: succeededOrFailed()
    displayName: 'Download of all platforms to $(RAW_ARTIFACTS_DIR)'
    inputs:
      path: '$(SYSTEM.ARTIFACTSDIRECTORY)'
      patterns: 
        "**"

  - bash: |
      cd "$(SYSTEM.ARTIFACTSDIRECTORY)"
      7z a -sdel -mx=4 -ms=on -mqs=on "Condensed, Mono, etc Fonts.7z"
    displayName: 'pack'

    
  - task: PublishBuildArtifacts@1
    # condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(SYSTEM.ARTIFACTSDIRECTORY)'
      artifactName: 'Combined Fonts'
