variables:
  THEWORKDIR: /transient-builds
  DEFAULT_NEWSIZE: 16G
  XZ_COMPRESSION_LEVEL: 9
  AGENT_IMAGE: 'ubuntu-22.04' # 
# debian 13 qcow2 files needs new e2fsck (libguests tool)
# virt-resize: error: libguestfs error: resize2fs: e2fsck 1.46.5 (30-Dec-2021)
# /dev/sda3 has unsupported feature(s): FEATURE_C12
# e2fsck: Get a newer version of e2fsck!

# TODO: Needs new sources: Debian 10 x64



trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'cloud-init/*'

jobs:

- job: Image
  pool:
    vmImage: $(AGENT_IMAGE)
  timeoutInMinutes: 150
  strategy:
    maxParallel: 10
    # https://cloud.debian.org/images/cloud/OpenStack/archive/10.13.0/debian-10.13.0-openstack-amd64.qcow2
    # https://cloud.debian.org/images/cloud/OpenStack/archive/10.13.0/debian-10.13.0-openstack-amd64.raw
    # https://cloud.debian.org/cdimage/cloud/OpenStack/current-10/debian-10-openstack-arm64.qcow2
    # https://cloud.debian.org/cdimage/cloud/OpenStack/current-10/debian-10-openstack-arm64.raw
    matrix:
      # 'armhf-raspberryos-10':
      #   # MISSING KERNEL, NEEDS DTD
      #   IMAGEURL: "https://downloads.raspberrypi.com/raspios_lite_armhf/images/raspios_lite_armhf-2021-05-28/2021-05-07-raspios-buster-armhf-lite.zip"
      #   KEY: 10-raspberryos-armhf # 5.1
      #   THEARCH: arm
      # 'armhf-raspberryos-12':
      #   # NEEDS DTD
      #   IMAGEURL: "https://downloads.raspberrypi.com/raspios_lite_armhf/images/raspios_lite_armhf-2023-12-11/2023-12-11-raspios-bookworm-armhf-lite.img.xz"
      #   KEY: 12-raspberryos-armhf # 6.1
      #   THEARCH: arm
      
      # 'x64-arch':
      #  # BTRFS is not supported yet
      #  IMAGEURL: "https://geo.mirror.pkgbuild.com/images/latest/Arch-Linux-x86_64-cloudimg.qcow2"
      #  KEY: rolling-arch
      #  THEARCH: x64
      #  NEWSIZE: "16G" # 44G
      
      'armel-debian-11':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-11-genericcloud-armel.qcow2.xz/download"
        KEY: 11-generic-armel
        THEARCH: armel
        NEWSIZE: "SKIP" # 44G
        SLEEP: 1

      'x64-debian-13':
        # IMAGEURL: "https://cloud.debian.org/images/cloud/trixie-backports/latest/debian-13-backports-genericcloud-amd64.qcow2" # missing network on debian 13
        IMAGEURL: "https://cloud.debian.org/images/cloud/trixie-backports/latest/debian-13-backports-generic-amd64.qcow2" # missing network on debian 13
        KEY: 13-generic-x64
        THEARCH: x64
        AGENT_IMAGE: 'ubuntu-24.04'
      'arm64-debian-13':
        IMAGEURL: "https://cloud.debian.org/images/cloud/trixie-backports/latest/debian-13-backports-genericcloud-arm64.qcow2"
        KEY: 13-generic-arm64
        THEARCH: arm64
        AGENT_IMAGE: 'ubuntu-24.04'


      # missing vmlinuz and initrd.ing: 
      
      # 'x64-debian-13-v2':
      #  IMAGEURL: "https://cloud.debian.org/images/cloud/trixie/latest/debian-13-generic-arm64.qcow2"
      #  KEY: 13-generic-x64-v2
      #  THEARCH: x64

      # 'x64-debian-13-v3':
      #  IMAGEURL: "https://cloud.debian.org/images/cloud/trixie/latest/debian-13-genericcloud-amd64.qcow2"
      #  KEY: 13-generic-x64-v3
      #  THEARCH: x64
      
      #'x64-debian-13-v4':
      #  # NO NETWORK: https://cloud.debian.org/images/cloud/trixie-backports/latest/debian-13-backports-azure-amd64.tar.xz
      #  IMAGEURL: "https://cloud.debian.org/images/cloud/trixie-backports/latest/debian-13-backports-ec2-amd64.tar.xz" # disk.img 30GB
      #  KEY: 13-generic-x64-v4
      #  THEARCH: x64
      #  NEWSIZE: "SKIP" # 30G

      'x64-debian-10':
        IMAGEURL: "https://cloud.debian.org/images/cloud/buster/latest/debian-10-generic-amd64.qcow2"
        KEY: 10-generic-x64
        THEARCH: x64


      #'x64-debian-daily-13':
      #  IMAGEURL: "https://cloud.debian.org/images/cloud/trixie/daily/latest/debian-13-generic-amd64-daily.qcow2"
      #  KEY: 13-generic-daily-x64
      #  THEARCH: x64
      #'arm64-debian-daily-13':
      #  IMAGEURL: "https://cloud.debian.org/images/cloud/trixie/daily/latest/debian-13-generic-arm64-daily.qcow2"
      #  KEY: 13-generic-daily-arm64
      #  THEARCH: arm64

        

      'x64-ubuntu-24.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/24.04/release/ubuntu-24.04-server-cloudimg-amd64.img"
        KEY: 24.04-generic-x64
        THEARCH: x64
      'x64-ubuntu-22.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/22.04/release/ubuntu-22.04-server-cloudimg-amd64.img"
        KEY: 22.04-generic-x64
        THEARCH: x64

      'x64-debian-11':
        IMAGEURL: "https://cloud.debian.org/images/cloud/bullseye/latest/debian-11-generic-amd64.qcow2"
        KEY: 11-generic-x64
        THEARCH: x64
      'x64-debian-12':
        IMAGEURL: "https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-generic-amd64.qcow2"
        KEY: 12-generic-x64
        THEARCH: x64

      'armhf-ubuntu-24.04':
        # IMAGEURL: "https://cloud-images.ubuntu.com/daily/server/noble/current/noble-server-cloudimg-armhf.img"
        # IMAGEURL: "https://cloud-images.ubuntu.com/daily/server/noble/20240302/noble-server-cloudimg-armhf.img"
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/24.04/release/ubuntu-24.04-server-cloudimg-armhf.img"
        KEY: 24.04-generic-armhf
        THEARCH: arm
      'arm64-ubuntu-24.04':
        # IMAGEURL: "https://cloud-images.ubuntu.com/daily/server/noble/current/noble-server-cloudimg-arm64.img"
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/24.04/release/ubuntu-24.04-server-cloudimg-arm64.img"
        KEY: 24.04-generic-arm64
        THEARCH: arm64

       
      'i386-debian-12':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-12-genericcloud-i386.qcow2.xz/download"
        KEY: 12-generic-i386
        THEARCH: i386
      'i386-debian-11':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-11-genericcloud-i386.qcow2.xz/download"
        KEY: 11-generic-i386
        THEARCH: i386
      'i386-debian-10':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-10-genericcloud-i386.qcow2.xz/download"
        KEY: 10-generic-i386
        THEARCH: i386
      
      
      'armel-debian-10':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-10-genericcloud-armel.qcow2.xz/download"
        KEY: 10-generic-armel
        THEARCH: armel
        NEWSIZE: "SKIP" # 44G
        SLEEP: 1
      'armel-debian-9':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-9-genericcloud-armel.qcow2.xz/download"
        KEY: 9-generic-armel
        THEARCH: armel
        NEWSIZE: "SKIP" # 44G
        SLEEP: 1

      'armhf-ubuntu-14.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/trusty/release/ubuntu-14.04-server-cloudimg-armhf-disk1.img"
        KEY: 14.04-generic-armhf
        THEARCH: arm
      'arm64-ubuntu-14.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/trusty/release/ubuntu-14.04-server-cloudimg-arm64-disk1.img"
        KEY: 14.04-generic-armhf
        THEARCH: arm64

      'armel-debian-8':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-8-genericcloud-armel.qcow2.xz/download"
        KEY: 8-generic-armel
        THEARCH: armel
        NEWSIZE: "SKIP" # 44G
        SLEEP: 1
      'armhf-debian-8':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-8-genericcloud-armhf.qcow2.xz/download"
        KEY: 8-generic-armhf
        THEARCH: arm
        NEWSIZE: "SKIP" # 44G
        SLEEP: 1
      'armhf-debian-9':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-9-genericcloud-armhf.qcow2.xz/download"
        KEY: 9-generic-armhf
        THEARCH: arm
        NEWSIZE: "SKIP" # 44G

      'armhf-debian-10':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-10-genericcloud-armhf.qcow2.xz/download"
        KEY: 10-generic-armhf
        THEARCH: arm
        NEWSIZE: "SKIP" # 44G
      'armhf-debian-11':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-11-genericcloud-armhf.qcow2.xz/download"
        KEY: 11-generic-armhf
        THEARCH: arm
        NEWSIZE: "SKIP" # 44G
      'armhf-debian-12':
        IMAGEURL: "https://sourceforge.net/projects/debian-armhf-cloud-images/files/debian-12-genericcloud-armhf.qcow2.xz/download"
        KEY: 12-generic-armhf
        THEARCH: arm
        NEWSIZE: "SKIP" # 44G

      'arm64-debian-10':
        IMAGEURL: "https://cloud.debian.org/images/cloud/buster-backports/latest/debian-10-backports-genericcloud-arm64.qcow2"
        KEY: 10-generic-arm64
        THEARCH: arm64
      'arm64-debian-11':
        IMAGEURL: "https://cloud.debian.org/images/cloud/bullseye-backports/latest/debian-11-backports-genericcloud-arm64.qcow2"
        KEY: 11-generic-arm64
        THEARCH: arm64
      'arm64-debian-12':
        IMAGEURL: "https://cloud.debian.org/images/cloud/bookworm-backports/latest/debian-12-backports-genericcloud-arm64.qcow2"
        KEY: 12-generic-arm64
        THEARCH: arm64

      # 'armhf-ubuntu-23.10':
      #  IMAGEURL: "https://cloud-images.ubuntu.com/releases/23.10/release/ubuntu-23.10-server-cloudimg-armhf.img"
      #  KEY: 23.10-generic-armhf
      #  THEARCH: arm
      #'arm64-ubuntu-23.10':
      #  IMAGEURL: "https://cloud-images.ubuntu.com/releases/23.10/release/ubuntu-23.10-server-cloudimg-arm64.img"
      #  KEY: 23.10-generic-arm64
      #  THEARCH: arm64
      'armhf-ubuntu-22.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/22.04/release/ubuntu-22.04-server-cloudimg-armhf.img"
        KEY: 22.04-generic-armhf
        THEARCH: arm
      'arm64-ubuntu-22.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/22.04/release/ubuntu-22.04-server-cloudimg-arm64.img"
        KEY: 22.04-generic-armhf
        THEARCH: arm64
      'armhf-ubuntu-20.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-armhf.img"
        KEY: 20.10-generic-armhf
        THEARCH: arm
      'arm64-ubuntu-20.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/focal/release/ubuntu-20.04-server-cloudimg-arm64.img"
        KEY: 20.10-generic-armhf
        THEARCH: arm64
      'armhf-ubuntu-18.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/bionic/release/ubuntu-18.04-server-cloudimg-armhf.img"
        KEY: 18.04-generic-armhf
        THEARCH: arm
      'arm64-ubuntu-18.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/bionic/release/ubuntu-18.04-server-cloudimg-arm64.img"
        KEY: 18.04-generic-armhf
        THEARCH: arm64
      'armhf-ubuntu-16.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/xenial/release/ubuntu-16.04-server-cloudimg-armhf-disk1.img"
        KEY: 16.04-generic-armhf
        THEARCH: arm
      'arm64-ubuntu-16.04':
        IMAGEURL: "https://cloud-images.ubuntu.com/releases/xenial/release/ubuntu-16.04-server-cloudimg-arm64-disk1.img"
        KEY: 16.04-generic-armhf
        THEARCH: arm64



  steps:
  - script: |
      set -eu; set -o pipefail
      printenv | sort;
    displayName: 'Variables'

  - script: |
      set -eu; set -o pipefail
      cd build-tools
      script=https://raw.githubusercontent.com/devizer/test-and-build/master/install-build-tools-bundle.sh; (wget -q -nv --no-check-certificate -O - $script 2>/dev/null || curl -ksSL $script) | bash >/dev/null
      Say --Reset-Stopwatch
      echo "CPU: $(Get-CpuName)"

      Say "CLEAN UP Docker Images"
      docker image prune -a -f || true

      Say "Reset swap to 100M"
      echo "SWAP BEFORE"
      sudo swapon
      for f in /swapfile /mnt/swapfile; do
        sudo swapoff $f 2>/dev/null || true
        rm -f $f 2>/dev/null || true
      done
      file=/newswap
      sudo dd if=/dev/zero of=$file bs=$((1024*1024)) count=100 status=progress
      sudo chmod 600 $file
      sudo mkswap $file
      sudo swapon $file
      echo "SWAP AFTER"
      sudo swapon

      
      export FREE_ROOT_SPACE_MB=3000 # 1600 is not enough
      export SECOND_DISK_MODE=LOOP
      export RESET_FOLDERS_TO_RAID="/var/lib/apt;$THEWORKDIR;/var/cache/apt;$SYSTEM_ARTIFACTSDIRECTORY;/tmp;/var/tmp"
      export LOOP_DIRECT_IO=off
      export MOVE_DOCKER_TO_RAID=""
      export FS=BTRFS-Compressed
      export BTRFS_COMPRESS_MODE=zstd:3
      url=https://raw.githubusercontent.com/devizer/glist/master/Raid0-on-Azure-Pipelines-Linux.sh; (wget -q -nv --no-check-certificate -O - $url 2>/dev/null || curl -ksSL $url) | bash
      Say "Mounts"
      df -h -T
      echo ""
      sudo mount

      Say "/proc/sys/kernel/randomize_va_space"
      sudo cat /proc/sys/kernel/randomize_va_space
      echo 0 | sudo tee /proc/sys/kernel/randomize_va_space
      
      Say "Install libguestfs-tools"
      # qemu-efi is missing on 24.04
      time (sudo apt-get update -qq; sudo apt-get install bsdutils qemu-system-arm qemu-system-x86 sshpass sshfs cloud-image-utils qemu-system-arm qemu-system-i386 aria2 libguestfs-tools -y -qq | grep "Unpack\|Setting"; )

      # config sshfs and sshpass
      mkdir -p ~/.ssh; printf "Host *\n   StrictHostKeyChecking no\n   UserKnownHostsFile=/dev/null" > ~/.ssh/config
      # fusermount3: option allow_other only allowed if 'user_allow_other' is set in /etc/fuse.conf
      printf "\nuser_allow_other\n" | sudo tee -a /etc/fuse.conf

      try-and-retry curl -kfsSL -o /tmp/build-gcc-utilities.sh "https://raw.githubusercontent.com/devizer/NetCore.CaValidationLab/master/4gcc/build-gcc-utilities.sh"

      sudo swapon
      df -h -T
    displayName: 'Provisioning'

  - script: |
      set -eu; set -o pipefail
      echo "CPU: $(Get-CpuName)"
      Say --Reset-Stopwatch
      cd cloud-init 
      bash -e Build-Step.sh
    # condition: succeededOrFailed()
    displayName: 'Build'

  - script: |
      set -eu; set -o pipefail
      echo "CPU: $(Get-CpuName)"
      Say --Reset-Stopwatch
      # required to build cpu usage
      echo '
      Acquire::AllowReleaseInfoChange::Suite "true";
      Acquire::Check-Valid-Until "0";
      APT::Get::Assume-Yes "true";
      APT::Get::AllowUnauthenticated "true";
      Acquire::AllowInsecureRepositories "1";
      Acquire::AllowDowngradeToInsecureRepositories "1";
      APT::NeverAutoRemove:: ".*";
      ' | sudo tee /etc/apt/apt.conf.d/99Z_Custom
      echo "deb https://download.mono-project.com/repo/debian stable-buster main" | sudo tee /etc/apt/sources.list.d/mono-official-stable.list
      sudo apt-get update -qq; sudo apt-get install mono-complete msbuild nuget
      mono --version
      msbuild /version
      df -h -T
    # condition: succeededOrFailed()
    displayName: 'Install MSBuid on host'
  
  - script: |
      set -eu; set -o pipefail
      echo "CPU: $(Get-CpuName)"
      df -h -T
      Say --Reset-Stopwatch
      cd cloud-init 
      bash -e Smoke-Test-Step.sh 
    # condition: succeededOrFailed()
    displayName: 'Provisioning VM'

  - script: |
      set -eu; set -o pipefail
      echo "CPU: $(Get-CpuName)"
      df -h -T
      DEFAULT_NEWSIZE="${DEFAULT_NEWSIZE:-16G}"
      NEWSIZE="${NEWSIZE:-$DEFAULT_NEWSIZE}"
      if [[ "$NEWSIZE" == SKIP ]]; then NEWSIZE="$DEFAULT_NEWSIZE"; fi
      
      Say "Compacting image, size is $NEWSIZE"
      pushd /transient-builds/run
      ls -lah disk.qcow2
      qemu-img create -f qcow2 copy.qcow2 "${NEWSIZE:-$DEFAULT_NEWSIZE}"
      # missing free space. what the heck is --compress?
      time try-and-retry sudo virt-sparsify --check-tmpdir=continue --convert qcow2 disk.qcow2 copy.qcow2
      sudo mv copy.qcow2 disk.qcow2
      sudo chown $USER disk.qcow2
      cp -f -v disk.qcow2 $SYSTEM_ARTIFACTSDIRECTORY
      ls -lah disk.qcow2
      popd
    # condition: eq('42', '42')
    displayName: 'Sparsify image'
  
  - script: |
      set -eu; set -o pipefail
      echo "CPU: $(Get-CpuName)"
      Say --Reset-Stopwatch
      cd $SYSTEM_ARTIFACTSDIRECTORY
      ls -lah
      for file in initrd.img cloud-config.qcow2 vmlinuz disk.qcow2 arch.txt root.partition.index.txt; do
        Say "Compress $file ($(numfmt --to=iec-i --suffix=B --format="%.2f" $(stat --printf="%s" "$file")))"
        time 7z a -bso0 -bsp0 -txz -mx=$XZ_COMPRESSION_LEVEL -mmt=$(nproc) $file.xz $file
        rm $file
        xz -t $file.xz
      done
      Say "OK"
      ls -lah
    # condition: succeededOrFailed()
    displayName: 'Compress artifact image'

  - task: PublishBuildArtifacts@1
    condition: succeeded()
    displayName: 'Publish Final'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: 'Succeeded $(Agent.JobName)'

  - task: PublishBuildArtifacts@1
    condition: failed()
    displayName: 'Publish Errors'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: 'Failed $(Agent.JobName)-$(Build.BUILDNUMBER)'
