variables:
  COMPRESSION_LEVEL: 1

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'azure-pipelines-test-raid.yml'
    exclude:
    - '**'

jobs:

- job: Raid
  pool:
    vmImage: '$(IMAGE)'
  timeoutInMinutes: 13
  strategy:
    maxParallel: 12
    matrix:
      'BTRFS-C On 24.04 RAID0':
        IMAGE: 'ubuntu-24.04'
        FS: BTRFS-Compressed
        RAID_MODE: RAID0
      'BTRFS-C On 22.04 RAID0':
        IMAGE: 'ubuntu-22.04'
        FS: BTRFS-Compressed
        RAID_MODE: RAID0

      'BTRFS-C On 24.04 LINEAR':
        IMAGE: 'ubuntu-24.04'
        FS: BTRFS-Compressed
        RAID_MODE: LINEAR
      'BTRFS-C On 22.04 LINEAR':
        IMAGE: 'ubuntu-22.04'
        FS: BTRFS-Compressed
        RAID_MODE: LINEAR

      'BTRFS On 24.04':
        IMAGE: 'ubuntu-24.04'
        FS: BTRFS
      'BTRFS On 22.04':
        IMAGE: 'ubuntu-22.04'
        FS: BTRFS

      'EXT2 On 24.04':
        IMAGE: 'ubuntu-24.04'
        FS: EXT2
      'EXT2 On 22.04':
        IMAGE: 'ubuntu-22.04'
        FS: EXT2

      'EXT4 On 24.04':
        IMAGE: 'ubuntu-24.04'
        FS: EXT4
      'EXT4 On 22.04':
        IMAGE: 'ubuntu-22.04'
        FS: EXT4

  steps:

  - bash: |
        script=https://devizer.github.io/devops-library/Standalone-Bootstrap.sh;
        file="${TMPDIR:-/tmp}/$(basename "$script")";
        cmd="wget -q -nv --no-check-certificate -O \"$file\" \"$script\" 2>/dev/null 1>&2 || curl -kfsSL -o \"$file\" \"$script\"";
        eval $cmd || eval $cmd || eval $cmd || echo "ERROR: Download bootstrapper failed";
        bash "$file"
    displayName: 'Bootstrap'

  - bash: 'export DEMAND_TOOLS="none"; Run-Remote-Script https://devizer.github.io/devops-library/Clean-Up-Disk.sh'
    displayName: 'Install Raid-0'
  
  - bash: |
      Say --Reset-Stopwatch
      Say "CPU: $(Get-CpuName)"
      Say "lzop: [$(lzop --version | tr '\n' ' ')]"
      Say "lz4: [$(lz4 --version | tr '\n' ' ')]"

      swapon
      sudo mount | sort > $SYSTEM_ARTIFACTSDIRECTORY/mount.txt

      Say "jq: [$(command -v jq)]"
      Say "yq: [$(command -v yq)]"
      Say "cat /etc/docker/daemon.json"
      cat /etc/docker/daemon.json || true

      # LOOP | BLOCK
      export FREE_ROOT_SPACE_MB=2500
      export FREE_SECOND_DRIVE_SPACE_MB=1200
      export SSD_SWAP_MB=700
      export SECOND_DISK_MODE=LOOP
      export RESET_FOLDERS_TO_RAID="/var/lib/apt;/transient-builds;/var/cache/apt;$SYSTEM_ARTIFACTSDIRECTORY;/tmp;/var/tmp;/var/lib/docker"
      export LOOP_DIRECT_IO=off
      export MOVE_DOCKER_TO_RAID=""
      export FS=BTRFS-Compressed
      export BTRFS_COMPRESS_MODE=zstd:7
      export RESET_FOLDERS_TO_RAID="/var/lib/apt;/transient-builds;/var/cache/apt;$SYSTEM_ARTIFACTSDIRECTORY;/tmp;/var/tmp;"
      Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/RAID0-on-Microsoft-Hosted-Build-Agent.sh

      Say "Size of /var/lib/docker"
      sudo du /var/lib/docker -d 0 -h

      try-and-retry docker pull ubuntu:22.04
      Say "Size of /raid-0/docker-file-system"
      sudo du /raid-0/docker-file-system -d 0 -h || true

      Say "free -m"
      free -m

      Say "About raid /dev/md0"
      sudo df -h -T | grep "/dev/md0" | sort || true
      sudo mount | grep "/dev/md0" | sort || true


    condition: succeededOrFailed()
    displayName: 'Install Raid-0'

  - task: PublishBuildArtifacts@1
    condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: '$(Agent.JobName)'

