variables:
  BUILDER_IMAGE: "debian:bullseye"
  COMPRESSION_LEVEL: "9"

trigger:
  branches:
    include:
    - master
  paths:
    include:
    - 'SQL-Server-1Gb-RAM-Docker-Image/**'

jobs:

- job: publish
  pool:
    vmImage: 'ubuntu-20.04'
  timeoutInMinutes: 35
  strategy:
    matrix:
      '2025-latest':
        SQL_BASE_IMAGE: "mcr.microsoft.com/mssql/server:2025-latest"
        TAGS: "-t devizervlad/mssql-server-tuned:latest -t devizervlad/mssql-server-tuned:2025"
        LOCAL_TAG: "mssql-server-tuned:2025"
      '2022-latest':
        SQL_BASE_IMAGE: "mcr.microsoft.com/mssql/server:2022-latest"
        TAGS: "-t devizervlad/mssql-server-tuned:2022"
        LOCAL_TAG: "mssql-server-tuned:2022"
      '2019-latest':
        SQL_BASE_IMAGE: "mcr.microsoft.com/mssql/server:2019-latest"
        TAGS: "-t devizervlad/mssql-server-tuned:2019"
        LOCAL_TAG: "mssql-server-tuned:2019"
      '2017-latest':
        SQL_BASE_IMAGE: "mcr.microsoft.com/mssql/server:2017-latest"
        TAGS: "-t devizervlad/mssql-server-tuned:2017"
        LOCAL_TAG: "mssql-server-tuned:2017"

  steps:
  - bash: |
      set -eu; set -o pipefail
      cd SQL-Server-1Gb-RAM-Docker-Image/Docker
      script=https://raw.githubusercontent.com/devizer/test-and-build/master/install-build-tools-bundle.sh; (wget -q -nv --no-check-certificate -O - $script 2>/dev/null || curl -ksSL $script) | bash >/dev/null
      Say --Reset-Stopwatch
      Say "CPU: $(Get-CpuName)"
      Say "Docker Login"
      try-and-retry docker login -u devizervlad -p "$DOCKER_PASSWORD"
    displayName: 'Bootstrap'
    env:
       DOCKER_PASSWORD: $(DOCKER_PASSWORD)

  - bash: |
      set -eu; set -o pipefail
      cd SQL-Server-1Gb-RAM-Docker-Image/Docker
      script=https://raw.githubusercontent.com/devizer/test-and-build/master/install-build-tools-bundle.sh; (wget -q -nv --no-check-certificate -O - $script 2>/dev/null || curl -ksSL $script) | bash >/dev/null
      Say --Reset-Stopwatch
      Say "CPU: $(Get-CpuName)"
      Say "Pull [$BUILDER_IMAGE]"
      try-and-retry docker pull -q $BUILDER_IMAGE
      Say "Pull [$SQL_BASE_IMAGE]"
      try-and-retry docker pull -q $SQL_BASE_IMAGE
      key="$(echo $SQL_BASE_IMAGE | awk -F':' '{print $NF}')"
      Say "BUILDING [$key]"
      time docker build \
        --build-arg BUILDER_IMAGE="${BUILDER_IMAGE}" \
        --build-arg SQL_BASE_IMAGE="${SQL_BASE_IMAGE}" \
        $TAGS -t $LOCAL_TAG . 2>&1 | tee "$SYSTEM_ARTIFACTSDIRECTORY/Build-[$key].log"
    retryCountOnTaskFailure: 2
    displayName: 'Build $(SQL_BASE_IMAGE)'

  - bash: |
      set -eu; set -o pipefail
      Say "CPU: $(Get-CpuName)"
      key="$(echo $TAGS | awk -F':' '{print $NF}')"
      docker run -t --rm devizervlad/mssql-server-tuned:$key bash -e -c "find / -name '*sqlcmd*'"
      Say "sqlcmd version"
      docker run -t --rm devizervlad/mssql-server-tuned:$key bash -e -c "sqlcmd -? | head -3"

    displayName: 'Show SQLCMD $(SQL_BASE_IMAGE)'

  - bash: |
      set -eu; set -o pipefail
      docker rm -f sqlserver >/dev/null 2>&1
      Say "CPU: $(Get-CpuName)"
      key="$(echo $TAGS | awk -F':' '{print $NF}')"
      docker run --pull never --name sqlserver --privileged -e "MSSQL_PID=Express" -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=p@assw0rd!" -p 1433:1433 -d devizervlad/mssql-server-tuned:$key
      (docker logs -f sqlserver | grep -v -e "^\s*$") &
      sleep 30
      echo "QEURY VERSION"
      docker exec -t sqlserver sqlcmd -H localhost -U sa -P "p@assw0rd!" -Q "Select @@VERSION" -C
    displayName: 'RUN & Query $(SQL_BASE_IMAGE)'

  - bash: |
      set -eu; set -o pipefail
      Say "CPU: $(Get-CpuName)"
      key="$(echo $SQL_BASE_IMAGE | awk -F':' '{print $NF}')"
      Say "Push images"
      docker image ls | grep mssql-server-tuned
      time try-and-retry docker push --all-tags devizervlad/mssql-server-tuned
    displayName: 'Push images'

  - bash: |
      set -eu; set -o pipefail
      Say "CPU: $(Get-CpuName)"
      key="$(echo $SQL_BASE_IMAGE | awk -F':' '{print $NF}')"
      file=mssql-server-tuned-docker-image-$key
      echo "COMPRESSION_LEVEL: [${COMPRESSION_LEVEL}]"
      7z | head -1
      Say "Saving [$LOCAL_TAG] as [$file.tar.gz]"
      time docker save $LOCAL_TAG | gzip -${COMPRESSION_LEVEL} > $file.tar.gz
      Say "Saving [$LOCAL_TAG] as [$file.tar.xz]"
      time docker save $LOCAL_TAG | 7za a dummy -txz -mx=${COMPRESSION_LEVEL} -mmt=$(nproc) -si -so > $file.tar.xz
      ls -lah $file.tar*
      cp -av $file.tar* "$SYSTEM_ARTIFACTSDIRECTORY/"
    displayName: 'Save Offline Image'



  - task: PublishBuildArtifacts@1
    # condition: succeededOrFailed()
    displayName: 'Publish'
    inputs:
      pathtoPublish: '$(System.ARTIFACTSDIRECTORY)'
      artifactName: '$(Agent.JobName)'
