name: 'Build IIS + .Net 3.5 & 4.x Docker Images'

env:
  DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT: '1'
  THEIMAGE: 'devizervlad/iis-net4x-net35'


on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: pwsh

jobs:
  Info:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        include:
          
          # 1607
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2016
          # 1809
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2019
          # 21H2
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2022
          # 24H2
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2025

          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2016
          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2019
          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2022

    runs-on: ${{ matrix.os }}
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Tune Docker
      run: |
        Import-DevOps; Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Move-Docker-to-SSD-for-Windows-On-Microsoft-Hosted-Build-Agent.ps1

    - name: Checkout
      uses: actions/checkout@v4

    - name: Variables
      shell: bash
      run: |
        set -eu; set -o pipefail
        echo "CPU: $(Get-CpuName)"
        echo "github.workspace = '${{ github.workspace }}'"
        echo "SYSTEM_ARTIFACTSDIRECTORY = '$SYSTEM_ARTIFACTSDIRECTORY'"
        echo
        printenv | sort

    - name: Clean Up
      shell: bash
      if: false
      run: 'export DEMAND_TOOLS="go"; Run-Remote-Script https://devizer.github.io/devops-library/Clean-Up-Disk.sh'

    - name: Setup VARs (pwsh)
      run: 'Add-Content $env:GITHUB_ENV "BaseImage=${{ matrix.BaseImage }}"; $suffix=("${{ matrix.BaseImage }}".Split(":") | Select -Last 1); Add-Content $env:GITHUB_ENV "SUFFIX=$suffix-on-${{ matrix.os }}"; Add-Content $env:GITHUB_ENV "NEWTAG=$suffix"'

    - name: NEW Variables
      run: 'Get-ChildItem Env: | ft -autosize | out-host'

    - name: "Inspect ${{ matrix.BaseImage }}"
      run: 'SqlServer-Version-Management\Try-And-Retry "INSPECT $ENV:BaseImage" { & { docker manifest inspect $ENV:BaseImage } *| Tee-Object "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Inspect-$($ENV:SUFFIX).json"; }'

    - name: "Pull ${{ matrix.BaseImage }}"
      run: 'SqlServer-Version-Management\Try-And-Retry "Pull $ENV:BaseImage" { & { docker pull $ENV:BaseImage } *| Tee-Object "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Pull-$($ENV:SUFFIX).txt"; }'

    - name: Show Version (hyperv)
      if: always()
      run: | 
        docker run --isolation=hyperv --rm $ENV:BaseImage cmd /c ver

    - name: 2nd Show Version (hyperv) Final
      if: always()
      run: | 
        docker run --isolation=hyperv --rm $ENV:BaseImage cmd /c ver 2>&1 | Tee-Object "$ENV:SYSTEM_ARTIFACTSDIRECTORY\VERSION-$($ENV:SUFFIX).txt"

    - name: Show Features 1
      if: always()
      run: | 
        $code = '$ErrorActionPreference = "Continue"; $ProgressPreference = "SilentlyContinue";'
        docker run --isolation=hyperv --rm $ENV:BaseImage powershell -c "$code; Get-WindowsFeature | ft -autosize | Out-String -Width 1234"

    - name: Show Features Final
      if: always()
      run: | 
        $code = '$ErrorActionPreference = "Continue"; $ProgressPreference = "SilentlyContinue";'
        docker run --isolation=hyperv --rm $ENV:BaseImage powershell -c "$code; Get-WindowsFeature | ft -autosize | Out-String -Width 1234" 2>&1 | Tee-Object -FilePath "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Features-$($ENV:SUFFIX).txt"
        echo ""
        echo "AGAIN"
        cat "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Features-$($ENV:SUFFIX).txt"


    - name: BUILD
      if: always()
      run: |
        Import-DevOps;
        cd Windows-Docker-Images;
        $newImageName="$($ENV:THEIMAGE):$($ENV:NEWTAG)";
        Say "Buiding: $newImageName";
        $cpuCount="$([Environment]::ProcessorCount)"
        & docker "build" --memory 3200M --cpus 2 "--isolation=hyperv" "--build-arg" "BASE_IMAGE=$($ENV:BaseImage)" "-t" "the:$($ENV:NEWTAG)" "-t" "$newImageName" "." 2>&1 | Tee-Object -FilePath "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Build-$($ENV:SUFFIX).txt"

        Say "history"
        docker history "$newImageName"

    - name: List Docker Images
      if: always()
      run: |
        Say "Image List"
        docker image ls

    - name: Built Features
      if: always()
      run: |
        docker run "--isolation=hyperv" --rm --entrypoint powershell "the:$($ENV:NEWTAG)" -c "Get-WindowsFeature | ft -autosize | Out-String -Width 1234" 2>&1 | Tee-Object -FilePath "$ENV:SYSTEM_ARTIFACTSDIRECTORY\BUILT-FEATURES-$($ENV:SUFFIX).txt"

    - name: Test Install .NET Core (TLS 1.2)
      if: always()
      shell: bash
      run: |
        set -o pipefail
        docker run --rm --entrypoint powershell "--isolation=hyperv" "the:$NEWTAG" -Command "Run-Remote-Script https://dot.net/v1/dotnet-install.ps1 -Channel 8.0"

    - name: RUN IIS NET 2.0 (15 secs), background
      if: always()
      shell: bash
      run: |
        set -o pipefail
        docker run -d --name iis -e IIS_NET_VERSION=v2.0 -p 9090:80 "--isolation=hyperv" "the:$NEWTAG" 
        # actually output is empty if no errors
        docker logs -f iis &
        sleep 15
        Say "EXPECTING RUNTIME v2.0"
        curl http://localhost:9090
        docker rm -f iis


    - name: RUN IIS NET 4.0 (30 secs), foreground
      if: always()
      shell: bash
      run: |
        set -o pipefail
        docker run --name iis "--isolation=hyperv" -e IIS_NET_VERSION=v4.0  -p 8080:80 "the:$NEWTAG" &
        sleep 20
        Say "Query HEADERS"
        "curl" -I http://localhost:8080
        Say "Query PAGE. EXPECTING RUNTIME v4.0"
        "curl" http://localhost:8080
        sleep 10
        time docker exec iis powershell -f 'C:\Windows\Temp\Show-IIS-Events.ps1' | tee "$SYSTEM_ARTIFACTSDIRECTORY/IIS-Events-$SUFFIX.txt"
        true

    - name: 'bombardier.exe test'
      if: always()
      shell: bash
      run: |
        set -o pipefail
        time docker exec iis bombardier.exe -c 20 -t 20s --print=result -k http://localhost:80 | tee "$SYSTEM_ARTIFACTSDIRECTORY/BOMBARDIER-BENCHMARK-$SUFFIX.txt" || echo "ERROR bombardier.exe"

    - name: 'choco install ffmpeg'
      shell: bash
      if: always()
      run: |
        set -o pipefail
        docker run -d --name beast --isolation=hyperv "the:$NEWTAG"
        # it will add image magick to path
        # 7.0.10.16: Jan 2021
        docker exec beast choco install ffmpeg
        docker exec beast powershell -c 'Add-Folder-To-System-Path "C:\MY New Folder"'
        echo " "
        echo "PATH is BELOW"
        docker exec beast powershell -c '$ENV:PATH' | tee "$SYSTEM_ARTIFACTSDIRECTORY/PATH-FFMPEG-$SUFFIX.txt" || echo "ERROR echo PATH"
        echo " "
        echo "FFMPEG VERSION is BELOW"
        docker exec beast ffmpeg -version | tee "$SYSTEM_ARTIFACTSDIRECTORY/FFMPEG-STATUS-$SUFFIX.txt" || echo "ERROR ffmpeg -version"
        docker rm -f beast

    - name: PUSH THE TAG ${{ env.THEIMAGE }}:${{ env.NEWTAG }}
      if: ${{ matrix.os != 'windows-2022' }}
      shell: bash
      run: |
        img="${{ env.THEIMAGE }}"
        set -eu; set -o pipefail

        Say "Docker Login"
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_LOGIN }}" --password-stdin || echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_LOGIN }}" --password-stdin

        Say "Docker PUSH ${{ env.THEIMAGE }}:${{ env.NEWTAG }}"
        try-and-retry docker push "${{ env.THEIMAGE }}:${{ env.NEWTAG }}"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Image ${{ env.SUFFIX }}'
        path: "${{ env.SYSTEM_ARTIFACTSDIRECTORY }}"
        overwrite: true


    

  Combine:
    name: PUSH Multi-Arch and Combine logs
    needs: Info
    runs-on: windows-2025
    steps:

    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '**'
        path: "${{ runner.temp }}\\Combined"
        merge-multiple: false

    - name: Show Download Structure
      run: 'cmd /c dir /b /s $($ENV:RUNNER_TEMP)\Combined'

    - name: Upload Combined Info
      uses: actions/upload-artifact@v4
      with:
        name: 'Combined'
        path: "${{ runner.temp }}\\Combined"
        overwrite: true

    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Tune Docker
      run: | 
        Import-DevOps; Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/Move-Docker-to-SSD-for-Windows-On-Microsoft-Hosted-Build-Agent.ps1

    - name: Checkout
      uses: actions/checkout@v4

    - name: Variables
      shell: bash
      run: |
        set -eu; set -o pipefail
        echo "CPU: $(Get-CpuName)"
        echo "github.workspace = '${{ github.workspace }}'"
        echo "SYSTEM_ARTIFACTSDIRECTORY = '$SYSTEM_ARTIFACTSDIRECTORY'"
        echo
        printenv | sort

    - name: PUSH Multi arch
      shell: bash
      run: |
        img="${{ env.THEIMAGE }}"
        set -eu; set -o pipefail

        Say "Docker Login"
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_LOGIN }}" --password-stdin || echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_LOGIN }}" --password-stdin

        for tag in ltsc2016 ltsc2019 ltsc2022 ltsc2025; do
          Say "PULL $tag"
          try-and-retry docker pull $img:$tag
        done

        cmd_create="docker manifest create $img:latest --amend $img:ltsc2016 --amend $img:ltsc2019 --amend $img:ltsc2022 --amend $img:ltsc2025"
        Say "Create Manifest: [$cmd_create]"
        eval $cmd_create

        cmd_inspect="docker manifest inspect $img:latest"
        Say "Inspect manifest: [$cmd_inspect]"
        eval $cmd_inspect

        Say "Push manifest"
        # --purge - delete local manifest
        try-and-retry docker manifest push "$img:latest"

    - name: Run and Curl
      shell: bash
      run: |
         set -eu; set -o pipefail
         docker run -d --name iis -p 8080:80 ${{ env.THEIMAGE }}
         Wait-For-HTTP http://localhost:8080 30 || echo "ERROR: Wait-For-HTTP http://localhost:8080"
         try-and-retry curl -I http://localhost:8080
         try-and-retry curl http://localhost:8080
         time docker exec iis bombardier.exe -c 20 -t 20s --print=result -k http://localhost:80 || echo "ERROR bombardier.exe"

         echo " "; echo "IIS CONTAINER LOGS"
         docker logs --since 0 iis
