name: Bash DevOps Library Tests

env:
  DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT: '1'

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: bash

jobs:
  Info:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025, windows-2022, ubuntu-22.04, ubuntu-24.04, macos-14, macos-15, macos-15-intel, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Environment
      run: 'printenv | sort'
    
    - name: "[Test] ALL.sh" 
      run: 'cd DevOps-Library; bash "[Test] ALL.sh" '

    - name: "[Test] Retry.sh" 
      run: 'cd DevOps-Library; bash "[Test] Retry.sh" '

    - name: "[Test] Download.sh"
      run: 'cd DevOps-Library; bash "[Test] Download.sh"'

    - name: "[Test] Validate File Is Not Empty.sh"
      run: 'cd DevOps-Library; bash "[Test] Validate File Is Not Empty.sh"'

    - name: "[Test] Wait For Http.sh" 
      run: 'cd DevOps-Library; bash "[Test] Wait For Http.sh" '

    - name: "[Test] Fetch S5 Dashboard API.sh" 
      run: 'cd DevOps-Library; export DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT=1; bash "[Test] Fetch S5 Dashboard API.sh" '

    - name: "Show temp after Fetch S5 Dashboard API" 
      if: ${{ runner.os == 'Linux' }}
      run: 'sudo apt-get update -qq; sudo apt-get install tree -y -qq >/dev/null; sudo tree -h /tmp || true'

    - name: 'Tests on Bash Matrix'
      if: ${{ runner.os == 'Linux' }}
      run: 'cd DevOps-Library; bash Test-On-Bash-Matrix.sh'

    - name: PS1 Module (pwsh)
      shell: pwsh
      run: |
        Install-Module SqlServer-Version-Management -Force -AllowClobber
        Say "CPU: $(Get-Cpu-Name -IncludeCoreCount)"
        Write-Host "$((Get-Memory-Info).Description)"
        $HOST

    - name: PS1 Module (5.1)
      shell: powershell
      if: ${{ runner.os == 'Windows' }}
      run: |
        Install-Module SqlServer-Version-Management -Force -AllowClobber
        Say "CPU: $(Get-Cpu-Name -IncludeCoreCount)"
        Write-Host "$((Get-Memory-Info).Description)"
        $HOST

    - name: Upload artifacts [${{ env.THEARTIFACTS_NATIVE }}]
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'System Info ${{ matrix.os }}'
        path: |
           ${{ runner.temp }}
          
  Combine:
    name: Combine results in a single Artifact
    needs: Info
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '**'
        path: "${{ runner.temp }}/Combined"
        merge-multiple: true

    - name: Show Download Structure
      run: 'sudo apt-get update -qq; sudo apt-get install tree -y -qq; tree $RUNNER_TEMP'

    - name: Upload Combined Info
      uses: actions/upload-artifact@v4
      with:
        name: 'Combined'
        path: "${{ runner.temp }}/Combined"

