name: 'TEST IIS Docker Images'

env:
  DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT: '1'
  THEIMAGE: 'devizervlad/iis-net4x-net35'
  ISOLATION: process


on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: pwsh

jobs:
  Info:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        include:
          
          - os: windows-2025
            TAG: ltsc2025
            ISOLATION: process
          - os: windows-2022
            TAG: ltsc2022
            ISOLATION: process

          - os: windows-2025
            TAG: ltsc2025
            ISOLATION: hyperv
          - os: windows-2025
            TAG: ltsc2022
            ISOLATION: hyperv
          - os: windows-2025
            TAG: ltsc2019
            ISOLATION: hyperv
          - os: windows-2025
            TAG: ltsc2016
            ISOLATION: hyperv


    runs-on: ${{ matrix.os }}
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Checkout
      uses: actions/checkout@v4

    - name: Variables
      shell: bash
      run: |
        set -eu; set -o pipefail
        echo "CPU: $(Get-CpuName)"
        echo " "
        printenv | sort

    - name: Setup Docker for Performance
      shell: pwsh
      run: |
        # $old_dir = "$(& docker info --format "{{.DockerRootDir}}")"
        # Write-Line "Docker Existing Storage " -TextGreen "[$old_dir]"

        Select-WMI-Objects Win32_LogicalDisk | ?{ @(2, 3) -contains $_.DriveType } | 
              ? { $_.FreeSpace -or $_.Size } | 
              % { [pscustomobject] @{"Free (GB)" = [Math]::Round($_.FreeSpace / 1024/1024/1024.0,2); "Size (GB)" = [Math]::Round($_.Size/1024/1024/1024.0, 2); "  Mount"="   $($_.DeviceId)" ; "  Name"="   $($_.VolumeName)" }} |
              ft -autosize | Out-String -Width 1234

        if (Test-Path "D:\") {
           $new_data_root = "D:\Docker-Data"
           Write-Line -TextYellow "Upgrading Docker for maximum performance data-root = $($new_data_root)"

           $jsonFile="C:\ProgramData\Docker\config\daemon.json"
           if (Test-Path $jsonFile) { 
             Write-Host "Docker configuration exists: [$jsonFile]"
             cat $jsonFile
           } Else { 
             Write-Host "Docker configuration is MISSING: [$jsonFile]"
             New-Item -Path "C:\ProgramData\Docker\config" -ItemType Directory -Force -EA SilentlyContinue | Out-Null
             [System.IO.File]::WriteAllText($jsonFile, "{}", (New-Object System.Text.UTF8Encoding($false)))
           }

           $config = Get-Content -Raw -Path $jsonFile | ConvertFrom-Json
           $config | Add-Member -MemberType NoteProperty -Name "data-root" -Value $new_data_root -Force
           $new_json = $config | ConvertTo-Json -Depth 10
           [System.IO.File]::WriteAllText($jsonFile, $new_json, (New-Object System.Text.UTF8Encoding($false)))

           Write-Host "Docker configuration successflly updated [$jsonFile]"
           cat $jsonFile

           Write-Line -TextGreen "Restarting docker"
           restart-service docker
           Write-Line -TextGreen "Status of Docker Service"
           get-service docker | ft -autosize
        } Else {
          Write-Line -TextMagenta "Skipping Update of Docker Configuration. Missing Volume D:\"
        }




    - name: 'PULL ${{ matrix.TAG }}'
      shell: bash
      run: |
         set -e; try-and-retry docker pull ${{ env.THEIMAGE }}:${{ matrix.TAG }}

    - name: 'Container: Run and Curl'
      shell: bash
      run: |
         set -e; docker run -d --name iis -p 8080:80 --isolation=${{ matrix.ISOLATION }} ${{ env.THEIMAGE }}:${{ matrix.TAG }}
         set -eu; set -o pipefail
         Wait-For-HTTP http://localhost:8080 30 || echo "ERROR: Wait-For-HTTP http://localhost:8080"
         try-and-retry curl -I http://localhost:8080
         try-and-retry curl http://localhost:8080
         time docker exec iis bombardier.exe -c 20 -d 20s --print=result -k -s http://localhost:80 | tee "$SYSTEM_ARTIFACTSDIRECTORY\Stress CONTAINER ${{ matrix.TAG }} as ${{ matrix.ISOLATION }}.txt" || echo "ERROR bombardier.exe"

    - name: 'HOST: Run and Curl'
      shell: bash
      if: always()
      run: |
         set -eu; set -o pipefail
         # docker cp iis:C:\\Apps\\Bombardier.exe C:\\Windows\\
         Say "Download bombardier.exe"
         curl -kfsSL -o C:\\Windows\\bombardier.exe https://github.com/codesenberg/bombardier/releases/download/v2.0.2/bombardier-windows-amd64.exe

         Wait-For-HTTP http://localhost:8080 30 || echo "ERROR: Wait-For-HTTP http://localhost:8080"
         try-and-retry curl -I http://localhost:8080
         try-and-retry curl http://localhost:8080
         Say "STRESS CONTAINER"
         bombardier.exe -c 20 -d 20s --print=result -k -s http://localhost:8080 || echo "ERROR bombardier.exe against container"

         Say "SETUP IIS"
         time powershell -c "Add-WindowsFeature Web-Server, Web-Asp-Net45, Web-Scripting-Tools"
         # Is not supported for hyperv
         # docker cp iis:C:\\Inetpub\\wwwroot\\default.aspx C:\\Inetpub\\wwwroot\\
         Say "Overwrite C:\\Inetpub\\wwwroot\\"
         rm -rf C:\\Inetpub\\wwwroot\\*
         rm -rf /c/Inetpub/wwwroot/*
         cp -v Windows-Docker-Images\\wwwroot\\default.aspx C:\\Inetpub\\wwwroot\\
         ls -la C:\\Inetpub\\wwwroot\\

         Wait-For-HTTP http://localhost:80 30 || echo "ERROR"
         curl http://localhost:80
         
         Say "STRESS HOST"
         bombardier.exe -c 20 -d 20s --print=result -k -s http://localhost:80 | tee "$SYSTEM_ARTIFACTSDIRECTORY\Stress HOST ${{ matrix.TAG }} as ${{ matrix.ISOLATION }}.txt" || echo "ERROR bombardier.exe against host"

    - name: 'IIS Container logs'
      shell: bash
      if: always()
      run: |
         echo " "; echo "IIS CONTAINER LOGS"
         docker logs --since 0 iis > /tmp/logs 
         cp -v /tmp/logs "$SYSTEM_ARTIFACTSDIRECTORY\IIS Container Logs ${{ matrix.TAG }} as ${{ matrix.ISOLATION }}.txt" >/dev/null
         Say "Total Log Lines: $(cat /tmp/logs | wc -l)"


    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'IIS TESTS ${{ matrix.TAG }} as ${{ matrix.ISOLATION }}'
        path: "${{ env.SYSTEM_ARTIFACTSDIRECTORY }}"
        overwrite: true
