name: "OpenSSL 3: TESTS 34 Images * 6 Arch"

env:
  DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT: '1'

on:
  workflow_dispatch:
    inputs:
      ARG_SET:
        type: choice
        description: 'SET Size'
        default: 'X64_ONLY'
        options:
        - X64_ONLY
        - FULL
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: bash

jobs:
  Test:
    name: Test on ${{ matrix.IMAGE }}
    timeout-minutes: 240
    strategy:
      fail-fast: false
      matrix:
        IMAGE: [ 
          # "mcr.microsoft.com/azurelinux/base/core:latest",
          # "multiarch/ubuntu-debootstrap:arm64-plucky",
          "alpine:3.7",
          "alpine:3.8", 
          "alpine:3.9", 
          "alpine:3.10", 
          "alpine:3.11", 
          "alpine:3.12", 
          "alpine:3.13", 
          "alpine:3.14", 
          "alpine:3.15", 
          "alpine:3.16", 
          "alpine:3.20", 
          "alpine:3.21", 
          "alpine:3.22", 
          "alpine:3.23",

          "multiarch/alpine:arm64-v3.7",
          "multiarch/alpine:arm64-v3.8",
          "multiarch/alpine:arm64-v3.9",
          "multiarch/alpine:arm64-v3.10",
          "multiarch/alpine:arm64-v3.11",
          "multiarch/alpine:arm64-v3.12",

          "alpine:3.7 linux/arm/v7",
          "alpine:3.8 linux/arm/v7",
          "alpine:3.9 linux/arm/v7",
          "alpine:3.10 linux/arm/v7",
          "alpine:3.11 linux/arm/v7",
          "alpine:3.12 linux/arm/v7",
          "alpine:3.13 linux/arm/v7", 
          "alpine:3.14 linux/arm/v7", 
          "alpine:3.15 linux/arm/v7", 
          "alpine:3.16 linux/arm/v7", 
          "alpine:3.20 linux/arm/v7", 
          "alpine:3.21 linux/arm/v7", 
          "alpine:3.22 linux/arm/v7", 
          "alpine:3.23 linux/arm/v7",

          
          "multiarch/alpine:armhf-v3.7",
          "multiarch/alpine:armhf-v3.8",
          "multiarch/alpine:armhf-v3.9",
          "multiarch/alpine:armhf-v3.10",
          "multiarch/alpine:armhf-v3.11",
          "multiarch/alpine:armhf-v3.12",

          "arm32v7/ubuntu:25.10",
          "arm32v7/ubuntu:24.04",
          "arm32v7/ubuntu:22.04",
          "arm32v7/ubuntu:20.04",
          "arm32v7/ubuntu:18.04",
          "arm32v7/ubuntu:16.04",
          "arm32v7/ubuntu:14.04",

          "amazonlinux:2023",
          "amazonlinux:2",
          "amazonlinux:1",

          
          "centos:8",
          "fedora:42", 
          "fedora:41", 
          "fedora:26",
          "debian:jessie", 
          "debian:stretch", 
          "debian:buster", 
          "debian:bullseye", 
          "debian:bookworm", 
          "debian:trixie", 

          "multiarch/debian-debootstrap:armhf-jessie", 
          "multiarch/debian-debootstrap:armhf-stretch", 
          "multiarch/debian-debootstrap:armhf-buster", 
          "multiarch/debian-debootstrap:armhf-bullseye", 
          "arm32v7/debian:bookworm",
          "arm32v7/debian:trixie",

          "multiarch/debian-debootstrap:arm64-jessie", 
          "multiarch/debian-debootstrap:arm64-stretch", 
          "arm64v8/debian:bookworm",
          "arm64v8/debian:trixie"


        ]
        

    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Setup Variables
      run: |
         Say "PROPAGATE input ARG_SET"
         ARG_SET="${{ github.event.inputs.ARG_SET }}"
         ARG_SET="${ARG_SET:-X64_ONLY}"
         echo "ARG_SET=$ARG_SET" | tee -a $GITHUB_ENV
         
         Say "PROPAGATE input matrix.IMAGE = [${{ matrix.IMAGE }}]"
         IMAGE=$(echo ${{ matrix.IMAGE }} | awk '{print $1}')
         IMAGE_PLATFORM=$(echo ${{ matrix.IMAGE }} | awk '{print $2}')
         echo "IMAGE=$IMAGE" | tee -a $GITHUB_ENV
         echo "IMAGE_PLATFORM=$IMAGE_PLATFORM" | tee -a $GITHUB_ENV

         Say "CALCULATE ARTIFACT_NAME"
         tag="${{ matrix.IMAGE }}"
         tag="${tag//:/-}"
         tag="${tag//\//-}"
         ARTIFACT_NAME="$tag"
         echo "ARTIFACT_NAME=$ARTIFACT_NAME" | tee -a $GITHUB_ENV

    - name: Download 'OpenSSL-Tests' Artifact
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        # 1. List runs of the specific workflow to find the latest successful one
        # Filtering by the workflow filename and success status
        RUN_ID=$(gh run list \
          --workflow "Pre-Build-OpenSSL-Tests.yml" \
          --status success \
          --limit 1 \
          --json databaseId --jq '.[0].databaseId')

        echo "Downloading from Run ID: $RUN_ID"

        # 2. Download the artifact to the specified directory
        # Using -n for name and -d for destination path
        gh run download $RUN_ID \
          --name "OpenSSL-Tests" \
          --dir "OpenSSL-Tests" \
          --repo "devizer/azure-pipelines-agent-in-docker"


    - name: "${{ matrix.IMAGE }}: OpenSSL3/STEP-Test-OpenSSL3-Run-Container.sh"
      run: bash -eu -o pipefail OpenSSL3/STEP-Test-OpenSSL3-Run-Container.sh

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        overwrite: true
        compression-level: 9

  Combine:
    runs-on: ubuntu-latest
    needs: [Test]
    if: always()
    timeout-minutes: 45
    steps:

    - uses: actions/checkout@v4
    - uses: devizer/devops-library@main
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v4
      with:
         path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}

    - name: Pack 7z
      shell: bash
      run: | 
        set -eu; set -o pipefail
        cd "$SYSTEM_ARTIFACTSDIRECTORY"
        time 7z a -sdel -mx=5 -ms=on -mqs=on "TEST OpenSSL Matrix Report.7z";

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'TEST OpenSSL Matrix Report.7z'
        path: ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}
        overwrite: true
        compression-level: 1

