name: Test Linux RAID

env:
  DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT: '1'

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: bash

jobs:
  Info:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        RAID_MODE: [RAID0, LINEAR]
        SSD_SWAP_MB: [100, 16000, 32000]
        include:
          - os: windows-2025
            RAID_MODE: LINEAR
            SSD_SWAP_MB: 100
          - os: windows-2022
            RAID_MODE: LINEAR
            SSD_SWAP_MB: 100

          - os: macos-14
            RAID_MODE: LINEAR
            SSD_SWAP_MB: 100
          - os: macos-15
            RAID_MODE: LINEAR
            SSD_SWAP_MB: 100
          - os: macos-15-intel
            RAID_MODE: LINEAR
            SSD_SWAP_MB: 100
          - os: macos-latest
            RAID_MODE: LINEAR
            SSD_SWAP_MB: 100

    runs-on: ${{ matrix.os }}
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Variables
      run: |
        set -eu; set -o pipefail
        echo "CPU: $(Get-CpuName)"
        echo "github.workspace = '${{ github.workspace }}'"
        echo "SYSTEM_ARTIFACTSDIRECTORY = '$SYSTEM_ARTIFACTSDIRECTORY'"
        echo
        df -h -T 2>/dev/null || df -h
        printenv | sort

    - name: Clean Up
      run: 'export DEMAND_TOOLS="go"; Run-Remote-Script https://devizer.github.io/devops-library/Clean-Up-Disk.sh'

    - name: RAID0
      run: |
        export RAID_MODE="${{ matrix.RAID_MODE }}" # LINEAR or RAID0
        export FREE_ROOT_SPACE_MB=2500
        export FREE_SECOND_DRIVE_SPACE_MB=1000
        export SSD_SWAP_MB="${{ matrix.SSD_SWAP_MB }}"
        export SECOND_DISK_MODE=LOOP
        export RESET_FOLDERS_TO_RAID="/var/lib/apt;/transient-builds;/var/cache/apt;$SYSTEM_ARTIFACTSDIRECTORY;/tmp;/var/tmp;/var/lib/docker;$GITHUB_WORKSPACE"
        export LOOP_DIRECT_IO=off
        export MOVE_DOCKER_TO_RAID=""
        export FS=BTRFS-Compressed
        export BTRFS_COMPRESS_MODE=zstd:1
        # url=https://raw.githubusercontent.com/devizer/glist/master/Raid0-on-Azure-Pipelines-Linux.sh; (wget -q -nv --no-check-certificate -O - $url 2>/dev/null || curl -ksSL $url) | bash
        Run-Remote-Script https://raw.githubusercontent.com/devizer/glist/master/RAID0-on-Microsoft-Hosted-Build-Agent.sh
    
    - name: Checkout
      uses: actions/checkout@v4

    - name: Linux Info
      if: runner.os == 'Linux'
      run: 'set +e; sudo swapon; echo; sudo df -h -T; echo; sudo mount; Show-System-Stat || true'

          
  Combine:
    name: Combine results in a single Artifact
    needs: Info
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '**'
        path: "${{ runner.temp }}/Combined"
        merge-multiple: false

    - name: Show Download Structure
      run: 'sudo apt-get update -qq; sudo apt-get install tree -y -qq; tree $RUNNER_TEMP'

    - name: Upload Combined Info
      uses: actions/upload-artifact@v4
      with:
        name: 'Combined'
        path: "${{ runner.temp }}/Combined"

