name: Windows Docker Images

env:
  DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT: '1'

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: pwsh

jobs:
  Info:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2016
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2019
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2022
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2025
          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2016
          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2019
          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2022

    runs-on: ${{ matrix.os }}
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Checkout
      uses: actions/checkout@v4

    - name: Variables
      shell: bash
      run: |
        set -eu; set -o pipefail
        echo "CPU: $(Get-CpuName)"
        echo "github.workspace = '${{ github.workspace }}'"
        echo "SYSTEM_ARTIFACTSDIRECTORY = '$SYSTEM_ARTIFACTSDIRECTORY'"
        echo
        printenv | sort

    - name: Clean Up
      shell: bash
      if: false
      run: 'export DEMAND_TOOLS="go"; Run-Remote-Script https://devizer.github.io/devops-library/Clean-Up-Disk.sh'

    - name: Setup VARs (pwsh)
      run: 'Add-Content $env:GITHUB_ENV "BaseImage=${{ matrix.BaseImage }}"; $suffix=("${{ matrix.BaseImage }}".Split(":") | Select -Last 1); Add-Content $env:GITHUB_ENV "SUFFIX=$suffix-on-${{ matrix.os }}"; Add-Content $env:GITHUB_ENV "NEWTAG=$suffix"'

    - name: NEW Variables
      run: 'Get-ChildItem Env: | ft -autosize | out-host'

    - name: "Inspect ${{ matrix.BaseImage }}"
      run: 'SqlServer-Version-Management\Try-And-Retry "INSPECT $ENV:BaseImage" { & { docker manifest inspect $ENV:BaseImage } *| Tee-Object "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Inspect-$($ENV:SUFFIX).json"; }'

    - name: "Pull ${{ matrix.BaseImage }}"
      run: 'SqlServer-Version-Management\Try-And-Retry "Pull $ENV:BaseImage" { & { docker pull $ENV:BaseImage } *| Tee-Object "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Pull-$($ENV:SUFFIX).txt"; }'

    - name: Show Version (hyperv)
      if: always()
      run: | 
        docker run --isolation=hyperv --rm $ENV:BaseImage cmd /c ver

    - name: 2nd Show Version (hyperv) Final
      if: always()
      run: | 
        docker run --isolation=hyperv --rm $ENV:BaseImage cmd /c ver 2>&1 | Tee-Object "$ENV:SYSTEM_ARTIFACTSDIRECTORY\VERSION-$($ENV:SUFFIX).txt"

    - name: Show Features 1
      if: always()
      run: | 
        $code = '$ErrorActionPreference = "Continue"; $ProgressPreference = "SilentlyContinue";'
        docker run --isolation=hyperv --rm $ENV:BaseImage powershell -c "$code; Get-WindowsFeature | ft -autosize | Out-String -Width 1234"

    - name: Show Features Final
      if: always()
      run: | 
        $code = '$ErrorActionPreference = "Continue"; $ProgressPreference = "SilentlyContinue";'
        docker run --isolation=hyperv --rm $ENV:BaseImage powershell -c "$code; Get-WindowsFeature | ft -autosize | Out-String -Width 1234" 2>&1 | Tee-Object -FilePath "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Features-$($ENV:SUFFIX).txt"
        echo ""
        echo "AGAIN"
        cat "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Features-$($ENV:SUFFIX).txt"


    - name: Build (draft)
      if: always()
      run: |
        cd Windows-Docker-Images;
        $newImageName="devizervlad/iis-fx35:$($ENV:NEWTAG)";
        echo "Buiding: $newImageName";
        Measure-Action "BUILD $newImageName" { 
          docker "build" "--isolation=hyperv" "--build-arg" "BASE_IMAGE=$($ENV:BaseImage)" "-t" "the:$($ENV:NEWTAG)" "-t" "$newImageName" "." 2>&1 | Tee-Object -FilePath "$ENV:SYSTEM_ARTIFACTSDIRECTORY\Build-$($ENV:SUFFIX).txt"
        }

        Say "history"
        docker history "$newImageName"


    - name: List Docker Images
      if: always()
      run: |
        Say "Image List"
        docker image ls

    - name: Built Features
      if: always()
      run: |
        docker run "--isolation=hyperv" --rm --entrypoint powershell "the:$($ENV:NEWTAG)" -c "Get-WindowsFeature | ft -autosize | Out-String -Width 1234" 2>&1 | Tee-Object -FilePath "$ENV:SYSTEM_ARTIFACTSDIRECTORY\BUILT-FEATURES-$($ENV:SUFFIX).txt"

    - name: RUN IIS (15 secs), background
      if: always()
      shell: bash
      run: |
        set -o pipefail
        docker run -d --name iis -e IIS_NET_VERSION=v2.0 -p 9090:80 "--isolation=hyperv" "the:$NEWTAG" 
        # actually output is empty if no errors
        docker logs -f iis &
        sleep 15
        Say "EXPECTING RUNTIME v2.0"
        curl http://localhost:9090
        docker rm -f iis


    - name: RUN IIS (30 secs), foreground
      if: always()
      shell: bash
      run: |
        set -o pipefail
        docker run --name iis "--isolation=hyperv" -e IIS_NET_VERSION=v4.0  -p 8080:80 "the:$NEWTAG" &
        sleep 20
        Say "Query HEADERS"
        "curl" -I http://localhost:8080
        Say "Query PAGE. EXPECTING RUNTIME v4.0"
        "curl" http://localhost:8080
        sleep 10
        time docker exec iis powershell -f 'C:\Windows\Temp\Show-IIS-Events.ps1' | tee "$SYSTEM_ARTIFACTSDIRECTORY/IIS-Events-$SUFFIX.txt"
        true

    - name: 'bombardier.exe test'
      if: always()
      shell: bash
      run: |
        set -o pipefail
        time docker exec iis bombardier.exe -c 20 -t 20s --print=result -k http://localhost:80 | tee "$SYSTEM_ARTIFACTSDIRECTORY/BOMBARDIER-BENCHMARK-$SUFFIX.txt" || echo "ERROR bombardier.exe"

    - name: 'choco install imagemagick'
      if: always()
      run: | 
        docker run --rm "--isolation=hyperv" --entrypoint powershell "the:$($ENV:NEWTAG)" -c "choco install imagemagick; echo ' '; & magick -version"

    - name: Upload artifacts 
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Image ${{ env.SUFFIX }}'
        path: |
           ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}


    

  Combine:
    name: Combine results in a single Artifact
    needs: Info
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '**'
        path: "${{ runner.temp }}/Combined"
        merge-multiple: false

    - name: Show Download Structure
      run: 'sudo apt-get update -qq; sudo apt-get install tree -y -qq; tree $RUNNER_TEMP'

    - name: Upload Combined Info
      uses: actions/upload-artifact@v4
      with:
        name: 'Combined'
        path: "${{ runner.temp }}/Combined"

