name: Windows Docker Images

env:
  DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT: '1'

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: pwsh

jobs:
  Info:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2016
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2019
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2022
          - os: windows-2025
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2025
          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2016
          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2019
          - os: windows-2022
            BaseImage: mcr.microsoft.com/windows/servercore:ltsc2022

    runs-on: ${{ matrix.os }}
    steps:
    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Variables
      shell: bash
      run: |
        set -eu; set -o pipefail
        echo "CPU: $(Get-CpuName)"
        echo "github.workspace = '${{ github.workspace }}'"
        echo "SYSTEM_ARTIFACTSDIRECTORY = '$SYSTEM_ARTIFACTSDIRECTORY'"
        echo
        printenv | sort

    - name: Clean Up
      shell: bash
      if: false
      run: 'export DEMAND_TOOLS="go"; Run-Remote-Script https://devizer.github.io/devops-library/Clean-Up-Disk.sh'

    - name: Setup VARs (pwsh)
      run: 'Add-Content $env:GITHUB_ENV "BaseImage=${{ matrix.BaseImage }}"; $suffix=("${{ matrix.BaseImage }}".Split(":") | Select -Last 1); Add-Content $env:GITHUB_ENV "SUFFIX=$suffix"'

    - name: NEW Variables
      run: 'Get-ChildItem Env: | ft -autosize | out-host'

    - name: Inspect
      run: 'SqlServer-Version-Management\Try-And-Retry "INSPECT $ENV:BaseImage" { & { docker manifest inspect $ENV:BaseImage } *| Tee-Object "$SYSTEM_ARTIFACTSDIRECTORY\Inspect-$($ENV:SUFFIX).json"; }'

    - name: Pull
      run: 'SqlServer-Version-Management\Try-And-Retry "Pull $ENV:BaseImage" { & { docker pull $ENV:BaseImage } *| Tee-Object "$SYSTEM_ARTIFACTSDIRECTORY\Pull-$($ENV:SUFFIX).txt"; }'

    - name: Show Version (process)
      if: false
      run: 
        function GetV([string] $v) { return $v.SubString($v.Length - 4, 4) }
        if ( (GetV "${{ matix.os }}") -eq (GetV "$ENV:SUFFIX") {
           SqlServer-Version-Management\Try-And-Retry "Show Version (process) $ENV:BaseImage" { { & docker run -t --isolation=process --rm $ENV:BaseImage cmd /c ver } 2>&1 | Tee-Object "$SYSTEM_ARTIFACTSDIRECTORY\Version1-$($ENV:SUFFIX).txt"; }
        }
        else {
          Write-Host "Version is not match"
        }


    - name: Show Version (hyperv)
      if: always()
      run: 'SqlServer-Version-Management\Try-And-Retry "Show Version (hyperv) $ENV:BaseImage" { { & docker run -t --isolation=hyperv --rm $ENV:BaseImage } 2>&1 | Tee-Object "$SYSTEM_ARTIFACTSDIRECTORY\VERSION2-$($ENV:SUFFIX).txt"; }'

    - name: Show Version (hyperv)
      if: always()
      run: 'SqlServer-Version-Management\Try-And-Retry "Faetures $ENV:BaseImage" { { & docker run -t --isolation=hyperv --rm $ENV:BaseImage powershell -c "Get-WindowsFeature | ft -autosize" } 2>&1 | Tee-Object "$SYSTEM_ARTIFACTSDIRECTORY\Features-$($ENV:SUFFIX).txt"; }'

    - name: Upload artifacts 
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: 'Image ${{ env.SUFFIX }}'
        path: |
           ${{ env.SYSTEM_ARTIFACTSDIRECTORY }}

    


          
  Combine:
    name: Combine results in a single Artifact
    needs: Info
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '**'
        path: "${{ runner.temp }}/Combined"
        merge-multiple: false

    - name: Show Download Structure
      run: 'sudo apt-get update -qq; sudo apt-get install tree -y -qq; tree $RUNNER_TEMP'

    - name: Upload Combined Info
      uses: actions/upload-artifact@v4
      with:
        name: 'Combined'
        path: "${{ runner.temp }}/Combined"

