name: Bash DevOps Library Tests

env:
  DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT: '1'

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]

defaults:
  run:
    shell: bash

jobs:
  Info:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025, windows-2022, ubuntu-22.04, ubuntu-24.04, macos-14, macos-15, macos-15-intel, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Bootstrap
      uses: devizer/devops-library@main

    - name: Environment
      run: 'echo "ZSH: [$(zsh --version 2>/dev/null)]"; printenv | sort;'
    
    - name: "Install-DevOps-Library.sh" 
      run: 'set -eu; Run-Remote-Script https://devizer.github.io/Install-DevOps-Library.sh; Say-Definition Hello World. RID is $(Get-NET-RID)'

    - name: "DevOps-Library.sh" 
      run: 'set -eu; Run-Remote-Script https://devizer.github.io/DevOps-Library.sh'
    
    - name: "[Test] ALL.sh" 
      run: 'cd DevOps-Library; bash "[Test] ALL.sh" '

    - name: '[Test] Run-Remote-Script'
      run: 'echo "BASH_VERSION: $BASH_VERSION"; echo "ZSH_VERSION: $ZSH_VERSION"; cd DevOps-Library; bash "[Test] Run-Remote-Script.sh" ' 

    - name: "[Test] Retry.sh" 
      run: 'cd DevOps-Library; bash "[Test] Retry.sh" '

    - name: "[Test] Download.sh"
      run: 'cd DevOps-Library; bash "[Test] Download.sh"'

    - name: "[Test] Validate File Is Not Empty.sh"
      run: 'cd DevOps-Library; bash "[Test] Validate File Is Not Empty.sh"'

    - name: "[Test] Wait For Http.sh" 
      run: 'cd DevOps-Library; bash "[Test] Wait For Http.sh" '

    - name: "[Test] Get-GitHub-Latest-Release.sh"
      run: 'cd DevOps-Library; bash "[Test] Get-GitHub-Latest-Release.sh" '
       
    - name: "[Test] Fetch S5 Dashboard API.sh" 
      run: 'cd DevOps-Library; export DEBUG_CLEAN_UP_MY_TEMP_FOLDERS_AND_FILES_ON_EXIT=1; bash "[Test] Fetch S5 Dashboard API.sh" | tee "$SYSTEM_ARTIFACTSDIRECTORY"/"[Test] Fetch S5 Dashboard API.log"'


    - name: "Show temp after Fetch S5 Dashboard API" 
      if: ${{ runner.os == 'Linux' }}
      run: 'sudo apt-get update -qq; sudo apt-get install tree -y -qq >/dev/null; sudo tree -h -du /tmp | tee "$SYSTEM_ARTIFACTSDIRECTORY"/TMP-FOLDER-TREE.txt || true'

    - name: "[Alpine CURL] ALL TESTS" 
      if: ${{ runner.os == 'Linux' && (success() || failure()) }}
      run: 'cd DevOps-Library; bash Test-On-Image.sh alpine curl'

    - name: "[Alpine WGET] ALL TESTS" 
      if: ${{ runner.os == 'Linux' && (success() || failure()) }}
      run: 'cd DevOps-Library; bash Test-On-Image.sh alpine wget'

    - name: "ALL TESTS on debian stable slim, curl" 
      if: ${{ runner.os == 'Linux' && (success() || failure()) }}
      run: 'cd DevOps-Library; bash Test-On-Image.sh debian:stable-slim curl'

    - name: "ALL TESTS on debian latest, wget" 
      if: ${{ runner.os == 'Linux' && (success() || failure()) }}
      run: 'cd DevOps-Library; bash Test-On-Image.sh debian:latest wget'

    - name: 'Tests on Bash Matrix'
      if: ${{ runner.os == 'Linux' && (success() || failure()) }}
      run: 'cd DevOps-Library; bash Test-On-Bash-Matrix.sh | tee "$SYSTEM_ARTIFACTSDIRECTORY"/"Test-On-Bash-Matrix.log" '

    - name: 'Tests on ZSH (mac)'
      if: ${{ runner.os == 'macOS' && (success() || failure()) }}
      run: 'cd DevOps-Library; zsh -e "[Test] ALL.sh"; zsh -e "[Test] Fetch S5 Dashboard API.sh"; zsh -e "[Test] Wait For Http.sh" '


    - name: PS1 Module (pwsh)
      shell: pwsh
      run: |
        Install-Module SqlServer-Version-Management -Force -AllowClobber
        Say "CPU: $(Get-Cpu-Name -IncludeCoreCount)"
        Write-Host "$((Get-Memory-Info).Description)"
        $HOST

    - name: PS1 Module (5.1)
      shell: powershell
      if: ${{ runner.os == 'Windows' }}
      run: |
        $ErrorActionPreference = 'Continue'
        Install-Module SqlServer-Version-Management -Force -AllowClobber
        Say "CPU: $(Get-Cpu-Name -IncludeCoreCount)"
        Write-Host "$((Get-Memory-Info).Description)"
        $HOST

          
  Combine:
    name: Combine results in a single Artifact
    needs: Info
    runs-on: ubuntu-latest
    steps:
    - name: Download All Artifacts
      uses: actions/download-artifact@v4
      with:
        pattern: '**'
        path: "${{ runner.temp }}/Combined"
        merge-multiple: false

    - name: Show Download Structure
      run: 'sudo apt-get update -qq; sudo apt-get install tree -y -qq; tree $RUNNER_TEMP'

    - name: Upload Combined Info
      uses: actions/upload-artifact@v4
      with:
        name: 'Combined'
        path: "${{ runner.temp }}/Combined"

